extensions/linkedin-airtable/backup_n8n/audit_porteC.json
{
  "name": "Shodo - AUDIT Porte C (contacts sans société)",
  "nodes": [
    {
      "parameters": {},
      "id": "ac-trigger-001",
      "name": "Déclencheur manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "value": "appjbx1NZYVRvRqKR", "mode": "list" },
        "table": { "value": "tbl1Qc2oJv8aiWhd5", "mode": "list" },
        "options": {}
      },
      "id": "ac-contacts-001",
      "name": "Airtable : Contacts",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [430, 300],
      "credentials": { "airtableTokenApi": { "id": "sbNAmcpptwiyg3eb", "name": "Airtable Personal Access Token account" } }
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "value": "appjbx1NZYVRvRqKR", "mode": "list" },
        "table": { "value": "tblIG8xf2fmMPVksm", "mode": "list" },
        "options": {}
      },
      "id": "ac-companies-001",
      "name": "Airtable : Companies",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [640, 300],
      "credentials": { "airtableTokenApi": { "id": "sbNAmcpptwiyg3eb", "name": "Airtable Personal Access Token account" } }
    },
    {
      "parameters": {
        "jsCode": "const norm = s => (s || '').toString().toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').replace(/\\b(sa|sas|sarl|sasu|eurl|group|groupe|holding|france|se)\\b/g, ' ').replace(/[^a-z0-9]+/g, ' ').replace(/\\s+/g, ' ').trim();\nconst companies = $input.all().map(it => it.json);\nconst contacts = $('Airtable : Contacts').all().map(it => it.json);\nconst compNames = new Set(companies.map(c => norm(c['Company Name'])).filter(Boolean));\nlet total = 0, avecLien = 0, sansLien = 0, sansEmployeur = 0, c1 = 0, c2 = 0;\nconst c2set = new Set(); const c2samples = [];\nfor (const ct of contacts) {\n  total++;\n  const ent = ct['Entreprise']; const co2 = ct['Companies 2'];\n  const hasLink = (Array.isArray(ent) && ent.length) || (Array.isArray(co2) && co2.length);\n  if (hasLink) { avecLien++; continue; }\n  sansLien++;\n  const emp = (ct['Company Name'] || '').toString().trim();\n  if (!emp) { sansEmployeur++; continue; }\n  if (compNames.has(norm(emp))) { c1++; }\n  else { c2++; const k = norm(emp); if (!c2set.has(k)) { c2set.add(k); if (c2samples.length < 25) c2samples.push(emp); } }\n}\nreturn [{ json: {\n  total_contacts: total,\n  avec_lien_societe: avecLien,\n  SANS_lien: sansLien,\n  '  dont sans employeur (texte vide)': sansEmployeur,\n  '  dont C1 (employeur DEJA dans Companies, lien a poser)': c1,\n  '  dont C2 (employeur ABSENT, a incuber)': c2,\n  C2_employeurs_distincts: c2set.size,\n  C2_exemples: c2samples.join(' | ')\n} }];"
      },
      "id": "ac-code-001",
      "name": "Audit Porte C",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Déclencheur manuel": { "main": [[{ "node": "Airtable : Contacts", "type": "main", "index": 0 }]] },
    "Airtable : Contacts": { "main": [[{ "node": "Airtable : Companies", "type": "main", "index": 0 }]] },
    "Airtable : Companies": { "main": [[{ "node": "Audit Porte C", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "saveDataSuccessExecution": "all", "saveDataErrorExecution": "all" }
}
