extensions/linkedin-airtable/backup_n8n/cibles_linkedin_put.json
{
  "name": "Shodo - Enrichissement LinkedIn Comptes Cibles (Gemini)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * *"
            }
          ]
        }
      },
      "id": "li000001-aaaa-4bbb-8ccc-000000000001",
      "name": "Chaque nuit 04h00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appiuwspImLMu7KJQ",
          "mode": "list",
          "cachedResultName": "LinkedIn Contact Management",
          "cachedResultUrl": "https://airtable.com/appiuwspImLMu7KJQ"
        },
        "table": {
          "__rl": true,
          "value": "tbl2CiHhd4dLQRpHW",
          "mode": "list",
          "cachedResultName": "Comptes Cibles",
          "cachedResultUrl": "https://airtable.com/appiuwspImLMu7KJQ/tbl2CiHhd4dLQRpHW"
        },
        "options": {}
      },
      "id": "li000002-bbbb-4ccc-8ddd-000000000002",
      "name": "Airtable : Comptes Cibles",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "sbNAmcpptwiyg3eb",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pour chaque Compte Cible SANS page LinkedIn : Gemini 2.5 Flash + grounding → URL company\nconst items = $input.all();\nconst http = this.helpers.httpRequest;\nconst GKEY = $env.GEMINI_API_KEY;\nconst cache = new Map();\nconst out = [];\n\nconst clean = n => (n || '').replace(/\\s*\\([^)]*\\)\\s*/g, ' ').replace(/—.*$/, '').replace(/\\s+/g, ' ').trim();\n\nfor (const it of items) {\n  const f = it.json;\n  const company = (f.Entreprise || '').toString().trim();\n  const existing = (f['Page LinkedIn entreprise'] || '').toString().trim();\n  if (!company || existing) continue;               // déjà rempli ou pas de nom → on saute\n  const c = clean(company);\n  let url = '';\n  if (cache.has(c)) {\n    url = cache.get(c);\n  } else {\n    try {\n      if (GKEY) {\n        const prompt = \"Quelle est l'URL exacte de la page LinkedIn officielle de l'entreprise/organisation « \" + c +\n          \" » en France ? Réponds UNIQUEMENT par l'URL au format https://www.linkedin.com/company/... \" +\n          \"Si tu n'es pas certain à 100% que c'est la bonne organisation, réponds exactement: AUCUNE. Aucun autre texte.\";\n        const r = await http({\n          method: 'POST',\n          url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + encodeURIComponent(GKEY),\n          body: { contents: [{ parts: [{ text: prompt }] }], tools: [{ google_search: {} }], generationConfig: { temperature: 0 } },\n          json: true,\n        });\n        const parts = (r && r.candidates && r.candidates[0] && r.candidates[0].content && r.candidates[0].content.parts) || [];\n        const txt = parts.map(p => p.text || '').join(' ');\n        const m = txt.match(/https?:\\/\\/[a-z.]*linkedin\\.com\\/company\\/[^\\s)\"']+/i);\n        if (m) url = m[0].replace(/[).,]+$/, '').replace(/\\/$/, '');\n      }\n    } catch (e) { url = ''; }                        // best-effort : jamais bloquant\n    cache.set(c, url);\n  }\n  if (url) out.push({ json: { id: f.id, 'Page LinkedIn entreprise': url } });\n}\nreturn out;\n"
      },
      "id": "li000003-cccc-4ddd-8eee-000000000003",
      "name": "Gemini : page LinkedIn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appiuwspImLMu7KJQ",
          "mode": "list",
          "cachedResultName": "LinkedIn Contact Management",
          "cachedResultUrl": "https://airtable.com/appiuwspImLMu7KJQ"
        },
        "table": {
          "__rl": true,
          "value": "tbl2CiHhd4dLQRpHW",
          "mode": "list",
          "cachedResultName": "Comptes Cibles",
          "cachedResultUrl": "https://airtable.com/appiuwspImLMu7KJQ/tbl2CiHhd4dLQRpHW"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Page LinkedIn entreprise",
              "displayName": "Page LinkedIn entreprise",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "li000004-dddd-4eee-8fff-000000000004",
      "name": "Airtable : Update page LinkedIn",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "sbNAmcpptwiyg3eb",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "connections": {
    "Chaque nuit 04h00": {
      "main": [
        [
          {
            "node": "Airtable : Comptes Cibles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable : Comptes Cibles": {
      "main": [
        [
          {
            "node": "Gemini : page LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini : page LinkedIn": {
      "main": [
        [
          {
            "node": "Airtable : Update page LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}