extensions/linkedin-airtable/backup_n8n/push_workflow.json
{
  "name": "Shodo - PUSH Cibles vers Companies (clients)",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 5 * * *" }] } },
      "id": "p-trigger-001",
      "name": "Chaque nuit 05h00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "value": "appiuwspImLMu7KJQ", "mode": "list" },
        "table": { "value": "tbl2CiHhd4dLQRpHW", "mode": "list" },
        "options": {}
      },
      "id": "p-cibles-001",
      "name": "Airtable : Comptes Cibles",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [420, 300],
      "credentials": { "airtableTokenApi": { "id": "sbNAmcpptwiyg3eb", "name": "Airtable Personal Access Token account" } }
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "value": "appjbx1NZYVRvRqKR", "mode": "list" },
        "table": { "value": "tblIG8xf2fmMPVksm", "mode": "list" },
        "options": {}
      },
      "id": "p-companies-001",
      "name": "Airtable : Companies",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [620, 300],
      "credentials": { "airtableTokenApi": { "id": "sbNAmcpptwiyg3eb", "name": "Airtable Personal Access Token account" } }
    },
    {
      "parameters": {
        "jsCode": "const norm = s => (s || '').toString().toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').replace(/\\b(sa|sas|sarl|sasu|eurl|group|groupe|holding|france|se)\\b/g, ' ').replace(/[^a-z0-9]+/g, ' ').replace(/\\s+/g, ' ').trim();\nconst slug = u => { const m = (u || '').toString().toLowerCase().match(/linkedin\\.com\\/company\\/([^\\/?#]+)/); return m ? m[1] : ''; };\nconst companies = $input.all().map(it => it.json);\nconst cibles = $('Airtable : Comptes Cibles').all().map(it => it.json);\nconst byName = new Map(), bySlug = new Map(), bySiren = new Map();\nfor (const c of companies) { const n = norm(c['Company Name']); if (n) byName.set(n, c); const s = slug(c['Linkedin Url']); if (s) bySlug.set(s, c); const si = (c['SIREN'] || '').toString().replace(/\\D/g, ''); if (si) bySiren.set(si, c); }\nconst out = [];\nfor (const cb of cibles) {\n  if ((cb['Qualif IA'] || '') !== 'Client final') continue;\n  const name = (cb.Entreprise || '').toString().trim();\n  if (!name) continue;\n  const siren = (cb['SIREN / SIRET'] || '').toString().replace(/\\D/g, '');\n  const linkedin = (cb['Page LinkedIn entreprise'] || '').toString().trim();\n  const cslug = slug(linkedin);\n  const villeRaw = (cb.Ville || '').toString().trim();\n  const ville = (villeRaw && !/^\\d{1,3}$/.test(villeRaw) && villeRaw.toLowerCase() !== 'autre') ? villeRaw : '';\n  let match = null;\n  if (siren && bySiren.has(siren)) match = bySiren.get(siren);\n  else if (byName.has(norm(name))) match = byName.get(norm(name));\n  else if (cslug && bySlug.has(cslug)) match = bySlug.get(cslug);\n  if (match) {\n    const fields = {};\n    if (siren && !((match['SIREN'] || '').toString().trim())) fields['SIREN'] = siren;\n    if (linkedin && !((match['Linkedin Url'] || '').toString().trim())) fields['Linkedin Url'] = linkedin;\n    if (ville && !((match['Headquarters Location'] || '').toString().trim())) fields['Headquarters Location'] = ville;\n    if (Object.keys(fields).length === 0) continue;\n    fields.id = match.id;\n    out.push({ json: fields });\n  } else {\n    const fields = { 'Company Name': name };\n    if (siren) fields['SIREN'] = siren;\n    if (linkedin) fields['Linkedin Url'] = linkedin;\n    if (ville) fields['Headquarters Location'] = ville;\n    out.push({ json: fields });\n  }\n}\nreturn out;"
      },
      "id": "p-matcher-001",
      "name": "Matcher push",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 300]
    },
    {
      "parameters": { "jsCode": "return $input.all().filter(it => !it.json.id);" },
      "id": "p-filternew-001",
      "name": "Filtre NOUVEAU",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 200]
    },
    {
      "parameters": { "jsCode": "return $input.all().filter(it => !!it.json.id);" },
      "id": "p-filtermatch-001",
      "name": "Filtre MATCH",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 420]
    },
    {
      "parameters": {
        "operation": "create",
        "base": { "value": "appjbx1NZYVRvRqKR", "mode": "list" },
        "table": { "value": "tblIG8xf2fmMPVksm", "mode": "list" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "schema": [
            { "id": "Company Name", "displayName": "Company Name", "type": "string" },
            { "id": "SIREN", "displayName": "SIREN", "type": "string" },
            { "id": "Linkedin Url", "displayName": "Linkedin Url", "type": "string" },
            { "id": "Headquarters Location", "displayName": "Headquarters Location", "type": "string" }
          ]
        },
        "options": { "typecast": true }
      },
      "id": "p-create-001",
      "name": "Companies : Créer",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1260, 200],
      "credentials": { "airtableTokenApi": { "id": "sbNAmcpptwiyg3eb", "name": "Airtable Personal Access Token account" } }
    },
    {
      "parameters": {
        "operation": "update",
        "base": { "value": "appjbx1NZYVRvRqKR", "mode": "list" },
        "table": { "value": "tblIG8xf2fmMPVksm", "mode": "list" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": ["id"],
          "schema": [
            { "id": "id", "displayName": "id", "type": "string" },
            { "id": "SIREN", "displayName": "SIREN", "type": "string" },
            { "id": "Linkedin Url", "displayName": "Linkedin Url", "type": "string" },
            { "id": "Headquarters Location", "displayName": "Headquarters Location", "type": "string" }
          ]
        },
        "options": { "typecast": true }
      },
      "id": "p-update-001",
      "name": "Companies : Compléter",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1260, 420],
      "credentials": { "airtableTokenApi": { "id": "sbNAmcpptwiyg3eb", "name": "Airtable Personal Access Token account" } }
    }
  ],
  "connections": {
    "Chaque nuit 05h00": { "main": [[{ "node": "Airtable : Comptes Cibles", "type": "main", "index": 0 }]] },
    "Airtable : Comptes Cibles": { "main": [[{ "node": "Airtable : Companies", "type": "main", "index": 0 }]] },
    "Airtable : Companies": { "main": [[{ "node": "Matcher push", "type": "main", "index": 0 }]] },
    "Matcher push": { "main": [[{ "node": "Filtre NOUVEAU", "type": "main", "index": 0 }, { "node": "Filtre MATCH", "type": "main", "index": 0 }]] },
    "Filtre NOUVEAU": { "main": [[{ "node": "Companies : Créer", "type": "main", "index": 0 }]] },
    "Filtre MATCH": { "main": [[{ "node": "Companies : Compléter", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "saveDataSuccessExecution": "all", "saveDataErrorExecution": "all" }
}
