extensions/linkedin-airtable/backup_n8n/qualif_workflow.json
{
  "name": "Shodo - Qualification cibles ESN/Client (Gemini)",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 3 * * *" }] } },
      "id": "q-trigger-001",
      "name": "Chaque nuit 03h00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "value": "appiuwspImLMu7KJQ", "mode": "list" },
        "table": { "value": "tbl2CiHhd4dLQRpHW", "mode": "list" },
        "options": {}
      },
      "id": "q-search-001",
      "name": "Airtable : Comptes Cibles",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [460, 300],
      "credentials": { "airtableTokenApi": { "id": "sbNAmcpptwiyg3eb", "name": "Airtable Personal Access Token account" } }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); const http = this.helpers.httpRequest; const GKEY = $env.GEMINI_API_KEY; const out = [];\nconst MAX = 30;\nconst MAP = { CLIENT: 'Client final', ESN: 'ESN', RECRUTEMENT: 'Recrutement', INTERIM: 'Intérim', AUTRE: 'Autre' };\n// Cibles non encore qualifiées, plafonnées pour rester sous le timeout 300s\nconst todo = items.filter(it => { const f = it.json; return (f.Entreprise || '').toString().trim() && !((f['Qualif IA'] || '').toString().trim()); }).slice(0, MAX);\nfor (const it of todo) {\n  const f = it.json; const id = f.id; const nom = (f.Entreprise || '').toString().trim();\n  const ville = (f.Ville || '').toString().trim(); const naf = (f['Code NAF'] || '').toString().trim();\n  if (!nom || !id) continue;\n  let label = '';\n  try {\n    if (GKEY) {\n      const prompt = \"Entreprise française : « \" + nom + \" »\" + (ville ? \" (\" + ville + \")\" : \"\") + (naf ? \", code NAF \" + naf : \"\") + \". \" +\n        \"Distingue les INTERMÉDIAIRES de services — ESN/SSII, conseil en ingénierie & assistance technique, cabinet de recrutement, agence d'intérim/emploi, portage salarial (ils vendent ou placent des consultants/candidats) — \" +\n        \"des CLIENTS FINAUX (toute autre organisation qui consomme de l'IT pour son propre compte). \" +\n        \"Réponds UNIQUEMENT par un mot : ESN, RECRUTEMENT, INTERIM, CLIENT, ou AUTRE. \" +\n        \"Au moindre doute qu'il s'agit d'un intermédiaire de services ou de recrutement, ne réponds PAS CLIENT.\";\n      const r = await http({ method: 'POST', url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + encodeURIComponent(GKEY), body: { contents: [{ parts: [{ text: prompt }] }], tools: [{ google_search: {} }], generationConfig: { temperature: 0 } }, json: true, timeout: 10000 });\n      const parts = (r && r.candidates && r.candidates[0] && r.candidates[0].content && r.candidates[0].content.parts) || [];\n      const txt = parts.map(p => p.text || '').join(' ').toUpperCase();\n      const m = txt.match(/CLIENT|RECRUTEMENT|INTERIM|ESN|AUTRE/);\n      if (m) label = MAP[m[0]] || '';\n    }\n  } catch (e) { label = ''; }\n  if (label) out.push({ json: { id: id, 'Qualif IA': label } });\n}\nreturn out;"
      },
      "id": "q-gemini-001",
      "name": "Gemini : qualification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "base": { "value": "appiuwspImLMu7KJQ", "mode": "list" },
        "table": { "value": "tbl2CiHhd4dLQRpHW", "mode": "list" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": ["id"],
          "schema": [
            { "id": "id", "displayName": "id", "type": "string" },
            { "id": "Qualif IA", "displayName": "Qualif IA", "type": "string" }
          ]
        },
        "options": { "typecast": true }
      },
      "id": "q-update-001",
      "name": "Airtable : Update Qualif",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [900, 300],
      "credentials": { "airtableTokenApi": { "id": "sbNAmcpptwiyg3eb", "name": "Airtable Personal Access Token account" } }
    }
  ],
  "connections": {
    "Chaque nuit 03h00": { "main": [[{ "node": "Airtable : Comptes Cibles", "type": "main", "index": 0 }]] },
    "Airtable : Comptes Cibles": { "main": [[{ "node": "Gemini : qualification", "type": "main", "index": 0 }]] },
    "Gemini : qualification": { "main": [[{ "node": "Airtable : Update Qualif", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "saveDataSuccessExecution": "all", "saveDataErrorExecution": "all" }
}
